.gs_task_upload_alert {
  position: absolute;
  pointer-events: none;
  width: 100%;
  top: -26px;
  transition-duration: 250ms;
}
.gs_task_upload_alert-alert {
  border: 1px solid;
  pointer-events: none;
  height: 24px;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding: 0 16px;
}
.error {
  background-color: #ffbaba;
  color: #d8000c;
  border-color: #d8000c;
}
.success {
  background-color: #dff2bf;
  color: #4f8a10;
  border-color: #4f8a10;
}
.gs_task_upload_alert-alert--on {
  top: 8px;
  transition-duration: 100ms;
}
